
/*
 * Colors
 */

/* Text Colors */
$orange: #feba02;

/* faction */
$colorAlliance: #247FAA;
$colorHorde: #b30000;


/* item quality */
$colorPoor:       #9d9d9d;
$colorCommon:     #ffffff;
$colorUncommon:   #1eff00;
$colorRare:       #0081ff;
$colorEpic:       #a335ee;
$colorLegendary:  #e5cc80;
$colorArtifact:   #e5cc80;

/* Realm Status */
$realmOffline:    #c83424;
$realmOnline:     #a3c425;


/* expansion */
$colorExpClassic: #fff468;
$colorExpBC: #aad372;
$colorExpWrath: #68ccef;
$colorExpCata: #ff7c0a;