
/**
 * Vendor Prefixes
 */

@mixin vendorPrefix ( $cssAttribute , $value) {
  #{$cssAttribute}:$value;
  -moz-#{$cssAttribute}:$value;
  -webkit-#{$cssAttribute}:$value;
  -o-#{$cssAttribute}:$value;
  -ms-#{$cssAttribute}:$value;
}

/* placeholder reset */
@mixin input-placeholder {
  .placeholder { @content; }
  :-moz-placeholder { @content; }
  ::-moz-placeholder { @content; }
  :-ms-input-placeholder { @content; }
  ::-webkit-input-placeholder { @content; }
}

/**
 * Gradients - only 2 Colors
 */
@mixin addGradient ($from,$to,$start:0%,$end:100%) {
  background: #{$from}; /* Old browsers */
  background: -moz-linear-gradient(top, #{$from} $start, #{$to} $end); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop($start,#{$from}), color-stop($end,#{$to})); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #{$from} $start,#{$to} $end); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #{$from} $start,#{$to} $end); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #{$from} $start,#{$to} $end); /* IE10+ */
  background: linear-gradient(to bottom, #{$from} $start,#{$to} $end); /* W3C */
}

/**
 * Text Shadow
 */
@mixin setTextShadow($color:transparentize($white, 0.1)) {
  @include vendorPrefix(text-shadow,1px 1px 0 $color);
}

/**
 * roundAllCorners
 *
 * Rounds every corner of an element
 */
@mixin roundAllCorners($radius) {
  @include vendorPrefix(border-radius, $radius);
}

/**
 * roundCorners
 *
 * Rounds a specific corner of an element
 */
@mixin roundCorners($radius, $collection: (top-left, top-right, bottom-right, bottom-left)) {
  @each $corner in $collection{
    @include vendorPrefix(border-#{$corner}-radius, 9px);
  }
}

@mixin linkArrow() {
  $marg: 16px;
  display:inline-block;
  margin-left:$marg;

  &:before {
    content:"\25BA";
    font-size:10px;
    vertical-align:middle;
    display:inline-block;
    text-indent:-$marg;
  }
}

/**
 * Box Shadow
 */
@mixin shadowBottom($height,$blur:10px,$color:$black,$fill:0){
  border-radius: 50%/100%;
  @include vendorPrefix(box-shadow,0 $height $blur $fill $color);
}