/**
 * Overwrites for server pages
 */

.module-server {
  .sidebar-module .content-block {
    a {
      background: url("http://forum.wow-alive.de/static-wow/img/game/landing/sub-contents-sprite.gif") 0 0 no-repeat;
    }
    .block {
      background: url("http://forum.wow-alive.de/static-wow/img/game/landing/sub-contents-sprite.gif") 0 0 no-repeat;
    }
    ul li a.sub-list {
      background: url("http://forum.wow-alive.de/static-wow/img/icons/bullet2.gif") 0 4px no-repeat;
    }
    .content-1 {
      background-position: 3px -3px;
    }
    .content-2 {
      background-position: 4px -623px;
    }
    .content-3 {
      background-position: 3px -840px;
    }
  }

  /*.sidebar-module .content-block .content-1:hover {background-position:3px -312px;}*/

  .achievements a {
    background: url("../img/icons/achievements.gif") left 7px no-repeat;
  }

}


#server-index {
  #content {
    .content-top {
      background: url("../img/server/bg-top.jpg") 0 0 no-repeat;
    }
    .content-bot {
      background: url("../img/server/bg-bottom.jpg") 0 100% no-repeat;
    }

  }


  .main-content-banner {
    .panel {
      background: url("http://forum.wow-alive.de/static-wow/img/layout/bg-panel-layout.png") repeat scroll 0% 0% transparent;

      .view-all {
        background: url("http://forum.wow-alive.de/static-wow/img/community/community-index-sprite.png") 100% -866px no-repeat;
      }
    }
    &.left-bnr {
      float: left;
      margin-left: 27px;
    }
    &.right-bnr {
      float: left;
      margin-left:20px;
      /*margin-right: 27px;*/
    }
  }

}


.sidebar-module {

  .account-security,
  .account-recovery,
  .account-authenticator,
  .account-authenticator-faq,
  .account-free-matrix-card,
  .account-mobile-security-token,
  .account-customer-service-window,
  .get-wow-buy,
  .get-wow-gift,
  .get-wow-free-trial,
  .get-wow-online-digital,
  .get-wow-language-pack,
  .character-transfer,
  .character-name-change,
  .character-race-change,
  .character-faction-change,
  .character-customization,
  .character-free-move,
  .character-ptr,
  .etc-raf,
  .etc-wow-magazine,
  .etc-sor,
  .etc-wow-remote,
  .etc-mobile-armory,
  .etc-rewards-visa,
  .etc-anti-gold {
    background: url("../img/icons/services-sprite.gif") no-repeat;
  }


  .account-security {
    background-position: 7px 2px;
  }
  .account-recovery {
    background-position: 7px -49px;
  }
  .account-authenticator {
    background-position: 7px -931px;
  }
  .account-authenticator-faq {
    background-position: 7px -983px;
  }
  .account-free-matrix-card {
    background-position: 7px -196px;
  }
  .account-mobile-security-token {
    background-position: 7px -1222px;
  }
  .account-customer-service-window {
    background-position: 7px -582px;
  }
  .get-wow-buy {
    background-position: 7px -1039px;
  }
  .get-wow-gift {
    background-position: 7px -1099px;
  }
  .get-wow-free-trial {
    background-position: 7px -243px;
  }
  .get-wow-online-digital {
    background-position: 7px -293px;
  }
  .get-wow-language-pack {
    background-position: 7px -341px;
  }
  .character-transfer {
    background-position: 7px -385px;
  }
  .character-name-change {
    background-position: 7px -430px;
  }
  .character-race-change {
    background-position: 7px -480px;
  }
  .character-faction-change {
    background-position: 7px -532px;
  }
  .character-customization {
    background-position: 7px -583px;
  }
  .character-free-move {
    background-position: 7px -632px;
  }
  .character-ptr {
    background-position: 7px -682px;
  }
  .etc-raf {
    background-position: 7px -733px;
  }
  .etc-wow-magazine {
    background-position: 7px -783px;
  }
  .etc-sor {
    background-position: 7px -835px;
  }
  .etc-wow-remote {
    background-position: 7px -1163px;
  }
  .etc-mobile-armory {
    background-position: 7px -1221px;
  }
  .etc-rewards-visa {
    background-position: 7px -885px;
  }
  .etc-anti-gold {
    background-position: 7px -1280px;
  }
}