
@import "colors";

.wow-faction-0, .wow-faction-0 a,
.color-tooltip-alliance,
.alliance { color: $colorAlliance; }

.wow-faction-1, .wow-faction-1 a,
.color-tooltip-horde,
.horde { color: $colorHorde; }

.realm-offline {
  color: $realmOffline;
}

.realm-online {
  color: $realmOnline;
}

.color-q0, .color-q0 a { color: $colorPoor !important; } /* poor (gray) */
.color-q1, .color-q1 a { color: $colorCommon !important; } /* common (white) */
.color-q2, .color-q2 a { color: $colorUncommon !important; } /* uncommon (green) */
.color-q3, .color-q3 a { color: $colorRare !important; } /* #0070dd rare (blue) */
.color-q4, .color-q4 a { color: $colorEpic !important; } /* #a335ee epic (purple) */
.color-q5, .color-q5 a { color: $colorLegendary !important; } /* lengendary (orange) */
.color-q6, .color-q6 a { color: $colorArtifact !important; } /* artifact (gold) */
.color-q7, .color-q7 a { color: $colorArtifact !important; } /* heirloom (gold) */

.border-q0 { border-color: $colorPoor !important; } /* poor (gray) */
.border-q1 { border-color: $colorCommon !important; } /* common (white) */
.border-q2 { border-color: $colorUncommon !important; } /* uncommon (green) */
.border-q3 { border-color: $colorRare !important; } /* rare (blue) */
.border-q4 { border-color: $colorEpic !important; } /* epic (purple) */
.border-q5 { border-color: $colorLegendary !important; } /* lengendary (orange) */
.border-q6 { border-color: $colorArtifact !important; } /* artifact (gold) */
.border-q7 { border-color: $colorArtifact !important; } /* heirloom (gold) */


/* class */
.color-c1,  .color-c1 a { color: #c69b6d !important; } /* warrior */
.color-c2,  .color-c2 a { color: #f48cba !important; } /* paladin */
.color-c3,  .color-c3 a, .color-g2 { color: #aad372 !important; } /* hunter */
.color-c4,  .color-c4 a, .color-g1 { color: #fff468 !important; } /* rogue */
.color-c5,  .color-c5 a { color: #f0ebe0 !important; } /* priest */
.color-c6,  .color-c6 a { color: #c41e3b !important; } /* death knight */
.color-c7,  .color-c7 a { color: #2359ff !important; } /* shaman */
.color-c8,  .color-c8 a, .color-g3 { color: #68ccef !important; } /* mage */
.color-c9,  .color-c9 a { color: #9382c9 !important; } /* warlock */
.color-c11, .color-c11 a, .color-g4 { color: #ff7c0a !important; } /* druid */

.wow-class-1, .wow-class-1 a { color: #c69b6d !important; } /* warrior */
.wow-class-2, .wow-class-2 a { color: #f48cba !important; } /* paladin */
.wow-class-3, .wow-class-3 a { color: #aad372 !important; } /* hunter */
.wow-class-4, .wow-class-4 a { color: #fff468 !important; } /* rogue */
.wow-class-5, .wow-class-5 a { color: #f0ebe0 !important; } /* priest */
.wow-class-6, .wow-class-6 a { color: #c41e3b !important; } /* death knight */
.wow-class-7, .wow-class-7 a { color: #2359ff !important; } /* shaman */
.wow-class-8, .wow-class-8 a { color: #68ccef !important; } /* mage */
.wow-class-9, .wow-class-9 a { color: #9382c9 !important; } /* warlock */
.wow-class-11, .wow-class-11 a { color: #ff7c0a !important; } /* druid */

/* item details and tooltips */
.color-tooltip-yellow { color: #ffd100 !important; }
.color-tooltip-red { color: #f00 !important; }
.color-tooltip-green { color: #0f0 !important; }
.color-tooltip-blue { color: #71D5FF !important; }
.color-tooltip-beige { color: #FFFF98 !important; }

/* difficulty */
.color-d1, .color-d1 a { color: #ff8040 !important; } /* orange */
.color-d2, .color-d2 a { color: #ffff00 !important; } /* yellow */
.color-d3, .color-d3 a { color: #40bf40 !important; } /* green */
.color-d4, .color-d4 a { color: #808080 !important; } /* gray */
.color-d5, .color-d5 a { color: #88aaff !important; } /* light blue */
.color-d6, .color-d6 a { color: #ff0000 !important; } /* red */

/*
 { color: $colorExpClassic !important; }
.color-ex1 { color: $colorExpBC !important; }
.color-ex2 { color: $colorExpWrath !important; }
.color-ex3 { color: $colorExpCata !important; }
*/
.wow-exp-0, .wow-exp-0 a { color: $colorExpClassic !important; } /* classic */
.wow-exp-1, .wow-exp-1 a { color: $colorExpBC !important; } /* the burning crusade */
.wow-exp-2, .wow-exp-2 a { color: $colorExpWrath !important; } /* wrath of the lich king */
.wow-exp-3, .wow-exp-3 a { color: $colorExpCata !important; } /* cataclysm */

/* skill difficulty */
.color-s0 { color: red; }
.color-s1 { color: #FF8040; }
.color-s2 { color: #FFFF00; }
.color-s3 { color: #40BF40; }
.color-s4 { color: #808080; }

/* wow background colors */

/* gem */
.bgcolor-g1 { background-color: gray; } /* Meta */
.bgcolor-g2 { background-color: red; } /* Red */
.bgcolor-g4 { background-color: yellow; } /* Yellow */
.bgcolor-g8 { background-color: blue; } /* Blue */
.bgcolor-g6 { background-color: orange; } /* Orange */
.bgcolor-g10 { background-color: purple; } /* Purple */
.bgcolor-g12 { background-color: green; } /* Green */
.bgcolor-g14 { background-color: white; } /* Prismatic */

/* wow item quality */
.wow-item-0, .wow-item-0 a { color: $colorPoor !important; } /* poor (gray) */
.wow-item-1, .wow-item-1 a { color: $colorCommon !important; } /* common (white) */
.wow-item-2, .wow-item-2 a { color: $colorUncommon !important; } /* uncommon (green) */
.wow-item-3, .wow-item-3 a { color: $colorRare !important; } /* rare (blue) */
.wow-item-4, .wow-item-4 a { color: $colorEpic !important; } /* epic (purple) */
.wow-item-5, .wow-item-5 a { color: $colorLegendary !important; } /* legendary (orange) */
.wow-item-6, .wow-item-6 a { color: $colorArtifact !important; } /* artifact (gold) */
.wow-item-7, .wow-item-7 a { color: $colorArtifact !important; } /* heirloom (gold) */